/Clase04/nbproject/private/
/Clase04/dist/
/Clase04/build/
/JavaApplication1/nbproject/private/
/JavaApplication1/build/
/Clase05/target/
/Clase06/target/
/Clase07/target/
/NotePad/nbproject/private/
/Clase08/build/
/Clase09/nbproject/private/
/Clase09/build/
/Clase10/nbproject/private/
/Clase10/build/